@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", serif;
}

header {
  background-color: #fafafc;
}
/* navigation and dropdown styles */
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 14px;
}

.links li {
  list-style-type: none;
  padding: 5px 7px;
  cursor: pointer;
}

.links li a {
  text-decoration: none;
  color: #89898a;
}

.dropdown-content,
.bag-dropdown-content,
.search-dropdown-content {
  position: absolute;
  padding: 40px 310px;
  background-color: #fafafc;
  width: 100%;
  height: 0;
  opacity: 0;
  left: 0;
  pointer-events: none;
  transition: height 0.2s ease, opacity 0.2s ease;
}

.dropdown-group {
  display: flex;
  gap: 30px;
}

.dropdown-group ul h2,
.dropdown-group ul h3 {
  color: #6e6e73;
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 15px;
}

.dropdown-group ul li {
  list-style-type: none;
  line-height: 1.5;
  color: #333336;
}

.dropdown-group .products {
  font-size: 20px;
  font-weight: bold;
}

.dropdown-group .products li:hover {
  color: black;
}

.explore,
.compare,
.switch {
  font-weight: 100;
  font-size: 13px;
}

.compare {
  margin-top: 30px;
}

.explore {
  margin-top: 20px;
}
/* search styles */
.search-dropdown-content,
.bag-dropdown-content {
  padding-top: 20px;
  padding-left: 312px;
}
.search button,
.bag button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search button img,
.bag button img {
  pointer-events: none;
}

.display {
  height: 400px;
  opacity: 1;
  pointer-events: auto;
}
.search-group {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-group input {
  border: none;
  padding: 5px 10px;
  outline: none;
  background-color: #fafafc;
  font-size: 25px;
  font-weight: bold;
}

/* bag dropdown styles */
.bag-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.bag-group p a {
  text-decoration: underline;
  color: blue;
}
.bag-dropdown-content {
  padding-left: 280px;
}

.bag-dropdown-content ul li {
  display: flex;
  align-items: center;
  gap: 5px;
}

.bag-dropdown-content p {
  color: #6e6e73;
}
