@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", serif;
}

header {
  background-color: #fafafc;
}
/* navigation and dropdown styles */
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 14px;
}

.links li {
  list-style-type: none;
  padding: 5px 7px;
  cursor: pointer;
}

.links li a {
  text-decoration: none;
  color: #89898a;
}

.dropdown-content,
.bag-dropdown-content,
.search-dropdown-content {
  position: absolute;
  padding: 40px 310px;
  background-color: #fafafc;
  width: 100%;
  height: 0;
  opacity: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
  transition: height 0.2s ease, opacity 0.2s ease;
}

.dropdown-group {
  display: flex;
  gap: 30px;
}

.dropdown-group ul h2,
.dropdown-group ul h3 {
  color: #6e6e73;
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 15px;
}

.dropdown-group ul li {
  list-style-type: none;
  line-height: 1.5;
  color: #333336;
}

.dropdown-group .products {
  font-size: 20px;
  font-weight: bold;
}

.dropdown-group .products li:hover {
  color: black;
}

.explore,
.compare,
.switch {
  font-weight: 100;
  font-size: 13px;
}

.compare {
  margin-top: 30px;
}

.explore {
  margin-top: 20px;
}
/* search styles */
.search-dropdown-content,
.bag-dropdown-content {
  padding-top: 20px;
  padding-left: 312px;
}
.search button,
.bag button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search button img,
.bag button img {
  pointer-events: none;
}

.display {
  height: 400px;
  opacity: 1;
  pointer-events: auto;
}
.search-group {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-group input {
  border: none;
  padding: 5px 10px;
  outline: none;
  background-color: #fafafc;
  font-size: 25px;
  font-weight: bold;
}

/* bag dropdown styles */
.bag-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.bag-group p a {
  text-decoration: underline;
  color: blue;
}
.bag-dropdown-content {
  padding-left: 280px;
}

.bag-dropdown-content ul li {
  display: flex;
  align-items: center;
  gap: 5px;
}

.bag-dropdown-content p {
  color: #6e6e73;
}
.blur {
  filter: blur(5px);
  transition: filter 0.3s ease;
}
/* .main-content {
  height: 300px;
  margin-top: 600px;
} */

.none {
  display: none;
}
.search-bag {
  display: flex;
  gap: 10px;
}

.tab-navbar {
  display: none;
}

/* chapternav styling */
/* chapternav styling */

.chapternav-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  overflow: hidden;
  padding: 0 35px 30px 0;
  width: 100%;
  position: relative;
}

.chapternav-items {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;

  overflow-x: auto;
  scroll-behavior: smooth;
  transition: scroll-behavior 0.3s ease-in-out;
}

.chapternav-items::-webkit-scrollbar {
  display: none;
}

.chapternav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.3333733333;
  font-weight: 400;
  letter-spacing: -0.01em;
  flex-shrink: 0;
  width: 70px;
  margin-right: 16px;
}

.chapternav-item .iphone-se {
  width: 19px;
}

.chapternav-item .iphone-16-pro {
  width: 30px;
}

.chapternav-item .ios-18 {
  width: 32px;
}

.chapternav-new {
  color: #be4400;
}

.backward {
  display: none;
}

.forward {
  display: none;
}
.ribbon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f7;
  padding: 10px;
}

/* hero section styling */

.video {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
}

.welcome-video {
  width: 90%;
  max-width: 1200px;
  height: auto;
  border-radius: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 80px;
  background-color: #ffffff;
}

.hero-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 20px;
  width: 87.5vw;
  max-width: 1680px;
}

.hero-text .iphone-text {
  font-size: 80px;
  font-weight: 600;
}

.welcome-header-description {
  font-size: 28px;
  line-height: 1.1428571429;
  font-weight: 600;
  letter-spacing: 0.007em;
}

/* section consider styling */

.card {
  background: url("https://www.apple.com/in/iphone/home/images/overview/consider/apple_intelligence__gbh77cvflkia_xlarge.jpg");
  height: 550px;
  width: 100%; /* Default to full width */
  max-width: 450px; /* Restrict maximum width */
  background-position: center;
  background-size: cover;
  padding: 32px;
  border-radius: 20px;
  box-sizing: border-box;
  transition: 0.3s ease-in-out; /* Ensure padding is included in width */
  cursor: pointer;
}

.card:hover {
  transform: scale(1.02);
}

.section-consider {
  padding: 100px;
  background-color: white;
  position: relative;
  z-index: 1;
}

.cards-container {
  overflow-x: auto;
  width: 100%;
  padding: 50px;
  scroll-behavior: smooth;
  transition: scroll-behavior 0.3s ease-in-out;
  display: flex;
  gap: 30px;
}

.cards-container::-webkit-scrollbar {
  visibility: hidden;
}

.section-header {
  padding-bottom: 50px;
}

.section-consider-container h2 {
  font-size: 56px;
  line-height: 1.0714285714;
  font-weight: 600;
  letter-spacing: -0.005em;
}

.feature-card-copy {
  color: #f5f5f7;
}

.feature-card-label {
  font-size: 17px;
  line-height: 1.2353641176;
  font-weight: 600;
  letter-spacing: -0.022em;
}

.feature-card-headline {
  font-size: 24px;
  line-height: 1.1428571429;
  font-weight: 600;
  letter-spacing: 0.007em;
  margin-top: 8px;
  min-width: 300px;
}

.buttons-cards-scroll {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 100px;
  bottom: 100px;
  z-index: 10;
}

.buttons-cards-scroll button {
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #636365;
  cursor: pointer;
}

/* styling  all explore models */
.explore-all-models {
  padding: 150px;
  background-color: #f5f5f7;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 80px;
}

.compare-model {
  color: blue;
  text-decoration: underline;
}

.iphones {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.models-container {
  display: flex;
  gap: 100px;
}

.iphones,
.image-container,
.description-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image-container {
  margin-bottom: 40px;
}

.description-container {
  gap: 20px;
}

.actions-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
}

.learn-more-btn {
  background-color: #0071e3;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
}

.buy-link {
  color: #0071e3;
}

.model-name {
  font-size: 28px;
  line-height: 1.14286;
  font-weight: 700;
  letter-spacing: 0.007em;
}

.price {
  font-size: 17px;
  line-height: 1.4705882353;
  font-weight: 600;
  letter-spacing: -0.022em;
}

.status-new {
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 600;
  letter-spacing: -0.01em;
  color: #ba4400;
}

.iphone-image {
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.iphone-image:hover {
  transform: scale(1.05);
}

.features-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  position: relative;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.feature-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 11px;
  gap: 10px;
}

.feature-description {
  min-width: 220px;
  text-align: center;
}

.models-with-features {
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  gap: 100px;
  scroll-behavior: smooth;
  transition: scroll-behavior 0.3s ease-in-out;
}

.models-with-features::-webkit-scrollbar {
  display: none;
}

.all-models-and-features-container {
  position: relative;
}

.features-button {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-right: 40px;
  margin-top: 20px;
}

.features-button button {
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #636365;
  cursor: pointer;
}

.welcome-header-description {
  font-size: 36px;
  line-height: 1.07143;
  font-weight: 600;
  letter-spacing: -0.005em;
}

/* media queries */
@media (max-width: 850px) {
  .dropdown {
    display: none;
  }
  .navigation {
    display: block;
  }
  .search-bag {
    display: block;
  }
  .links {
    justify-content: space-between;
    margin: 0 10px;
  }
  .flex {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .none {
    display: block;
  }

  /* tablet styling */

  .tab-dropdown {
    margin: 0 30px;
  }
  .tab-dropdown-content {
    display: none;
    padding: 30px 40px;
  }

  .tab-dropdown-group ul li {
    padding: 10px 0;
    color: #333336;
    font-weight: 600;
  }

  .tab-dropdown-group > ul {
    font-size: 25px;

    margin-bottom: 30px;
    color: #333336;
  }

  .tab-dropdown-group > ul li {
    font-weight: bolder;
  }

  .ul-group {
    display: flex;
    gap: 50px;
  }

  .ul-group ul h3 {
    color: #6e6e73;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 15px;
  }

  .ul-group ul li {
    padding: 5px 0;
  }

  .tab-links li {
    list-style-type: none;
  }

  .tab-links li > a {
    text-decoration: none;
    font-size: 30px;
    color: #333336;
    font-weight: bold;
  }

  .tab-links li a:hover {
    color: black;
  }

  .tab-navbar {
    margin-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    min-height: 100vh;
  }
  .menu {
    position: relative;
    cursor: pointer;
  }

  .parallel-lines {
    opacity: 1;
  }

  .cross {
    position: absolute;
    top: 15px;
    right: -3px;

    cursor: pointer;
  }
  .block {
    display: block;
  }

  .menu-back {
    position: absolute;
    border: none;
    background: transparent;
    top: 5px;
    left: 25px;
    cursor: pointer;
  }

  /* chapternav styling */
  /* chapternav styling */

  .backward,
  .forward {
    display: block;
    position: absolute;

    background: none;
    border: none;
    cursor: pointer;
  }

  .backward {
    top: 30%;
    left: 15px;
  }

  .forward {
    top: 47%;
    right: 15px;
  }

  .tab-none {
    display: none;
  }
  .ribbon {
    font-size: 12px;
    text-align: center;
  }
}
