@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", serif;
}

body {
  position: relative;
}

header {
  background-color: #fafafc;
}
/* navigation and dropdown styles */
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 14px;
}

.links li {
  list-style-type: none;
  padding: 5px 7px;
  cursor: pointer;
}

.links li a {
  text-decoration: none;
  color: #89898a;
}

.dropdown-content,
.bag-dropdown-content,
.search-dropdown-content {
  position: absolute;
  padding: 40px 310px;
  background-color: #fafafc;
  width: 100%;
  height: 0;
  opacity: 0;
  left: 0;
  pointer-events: none;
  transition: height 0.2s ease, opacity 0.2s ease;
}

.dropdown-group {
  display: flex;
  gap: 30px;
}

.dropdown-group ul h2,
.dropdown-group ul h3 {
  color: #6e6e73;
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 15px;
}

.dropdown-group ul li {
  list-style-type: none;
  line-height: 1.5;
  color: #333336;
}

.dropdown-group .products {
  font-size: 20px;
  font-weight: bold;
}

.dropdown-group .products li:hover {
  color: black;
}

.explore,
.compare,
.switch {
  font-weight: 100;
  font-size: 13px;
}

.compare {
  margin-top: 30px;
}

.explore {
  margin-top: 20px;
}
/* search styles */
.search-dropdown-content,
.bag-dropdown-content {
  padding-top: 20px;
  padding-left: 312px;
}
.search button,
.bag button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search button img,
.bag button img {
  pointer-events: none;
}

.display {
  height: 400px;
  opacity: 1;
  pointer-events: auto;
}
.search-group {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-group input {
  border: none;
  padding: 5px 10px;
  outline: none;
  background-color: #fafafc;
  font-size: 25px;
  font-weight: bold;
}

/* bag dropdown styles */
.bag-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.bag-group p a {
  text-decoration: underline;
  color: blue;
}
.bag-dropdown-content {
  padding-left: 280px;
}

.bag-dropdown-content ul li {
  display: flex;
  align-items: center;
  gap: 5px;
}

.bag-dropdown-content p {
  color: #6e6e73;
}
.blur {
  filter: blur(5px);
  transition: filter 0.3s ease;
}
/* .main-content {
  height: 300px;
  margin-top: 600px;
} */

.none {
  display: none;
}
.search-bag {
  display: flex;
  gap: 10px;
}

.tab-navbar {
  display: none;
}

/* chapternav styling */
/* chapternav styling */

.chapternav-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  overflow: hidden;
  padding: 0 35px 30px 0;
  width: 100%;
}

.chapternav-items {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 5px;
  overflow-x: auto;
  scroll-behavior: smooth;
  transition: scroll-behavior 0.3s ease-in-out;
}

.chapternav-items::-webkit-scrollbar {
  display: none;
}

.chapternav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.3333733333;
  font-weight: 400;
  letter-spacing: -0.01em;
  flex-shrink: 0;
  width: 70px;
  margin-right: 16px;
}

.chapternav-item .iphone-se {
  width: 19px;
}

.chapternav-item .iphone-16-pro {
  width: 30px;
}

.chapternav-item .ios-18 {
  width: 32px;
}

.chapternav-new {
  color: #be4400;
}

.backward {
  display: none;
}

.forward {
  display: none;
}

/* media queries */
@media (max-width: 850px) {
  .dropdown {
    display: none;
  }
  .navigation {
    display: block;
  }
  .search-bag {
    display: block;
  }
  .links {
    justify-content: space-between;
    margin: 0 10px;
  }
  .flex {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .none {
    display: block;
  }

  /* tablet styling */

  .tab-dropdown {
    margin: 0 30px;
  }
  .tab-dropdown-content {
    display: none;
    padding: 30px 40px;
  }

  .tab-dropdown-group ul li {
    padding: 10px 0;
    color: #333336;
    font-weight: 600;
  }

  .tab-dropdown-group > ul {
    font-size: 25px;

    margin-bottom: 30px;
    color: #333336;
  }

  .tab-dropdown-group > ul li {
    font-weight: bolder;
  }

  .ul-group {
    display: flex;
    gap: 50px;
  }

  .ul-group ul h3 {
    color: #6e6e73;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 15px;
  }

  .ul-group ul li {
    padding: 5px 0;
  }

  .tab-links li {
    list-style-type: none;
  }

  .tab-links li > a {
    text-decoration: none;
    font-size: 30px;
    color: #333336;
    font-weight: bold;
  }

  .tab-links li a:hover {
    color: black;
  }

  .tab-navbar {
    margin-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    min-height: 100vh;
  }
  .menu {
    position: relative;
    cursor: pointer;
  }

  .parallel-lines {
    opacity: 1;
  }

  .cross {
    position: absolute;
    top: 15px;
    right: -3px;

    cursor: pointer;
  }
  .block {
    display: block;
  }

  .menu-back {
    position: absolute;
    border: none;
    background: transparent;
    top: 5px;
    left: 25px;
    cursor: pointer;
  }

  /* chapternav styling */
  /* chapternav styling */

  .backward,
  .forward {
    display: block;
    position: absolute;

    background: none;
    border: none;
    cursor: pointer;
  }

  .backward {
    top: 56%;
    left: 20px;
  }

  .forward {
    top: 64%;
    right: 20px;
  }

  .tab-none {
    display: none;
  }
}
